<template name="header">
<div class="top-header">
  <div class="container">
  <div class="logo">
    <a href="#"><img src="/images/logo.png" title="dreams" width="147" /></a>
  </div>
   <nav class="top-nav">
    <ul class="top-nav">
      <li><a href="#home" class="scroll">Home</a></li>
      <li class="active"><a href="#services" class="scroll">Services</a></li>
      <li><a href="#port" class="scroll">Portfolio</a></li>
      <li><a href="#team" class="scroll">Team</a></li>
      <li><a href="#contact" class="scroll">Contact</a></li>
    </ul>
    <a href="#" id="pull"><img src="images/menu-icon.png" title="menu" /></a>
  </nav>
  <div class="clearfix"> </div>
</div>
</div>
</template>
