<template name="home">
  <div class="bg">
  <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
      {{>header}}

  </div>

<div class="banner wow fadeIn" data-wow-delay="0.5s">
  <div class="container">
    <div class="banner-info">
      <h1>Find Stanford students to share airport rides</h1><br />
      <span class="divider"> </span>
      <form>
        <p>I want to go
          <select name="direction" id="direction">
            <option value="--">--</option>
            <option value="to">to</option>
            <option value="from">from</option>
          </select>
          <select name="airport" id="airport">
            <option value="--">--</option>
            <option value="SFO">SFO</option>
            <option value="SJC">SJC</option>
            <option value="OAK">OAK</option>
          </select>
          airport<br/>
        <span class="{{revealAfterAirport}}">{{antiDirection}} <select name="part" id="part">
          <option value="--">--</option>
          <option value="east">east</option>
          <option value="west">west</option>
        </select> campus for a flight {{flightStatus}} on <select name="month" id="month">
          <option value="--">--</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select> <select name="day" id="day">
          <option value="--">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select> at <input type="text" name="time" placeholder="12:00"/> <select name="timeModifier" id="timeModifier">
          <option value="--">--</option>
          <option value="am">am</option>
          <option value="pm">pm</option>
        </select>. My Stanford email: <input type="text" name="email" id="email" placeholder="you@stanford.edu"/><br />
        <div id="help-container"><span class="help">You will be sent an initial confirmation and a list of possible matches.</span><br /><input type="submit" class="btn" id="submit"/></div><br /> <br /></span>
      <div class="errors">{{errors}}</div></p>

      </form>
    </div>
  </div>
</div>
</div>
{{>footer}}
</template>
