<template name="submitted">
  <div class="submitted page jumbotron" style="text-align:center">
    <h2><span>&#10003;</span><br />Submitted! </h2>
    <p><h3>We're currently looking for other students going {{direction}} {{airport}} {{antiDirection}} {{part}} campus around the same time.</h3>
      <div class="flight-info"><span>Airport: </span>{{airport}}<br /><span>Campus Location: </span>Going {{antiDirection}} {{part}} campus<br /><span>Date and time: </span> {{pacificTime}} (campus time)</div>
    <br />{{#if soon}}In about an hour, we'll send you an email containing matches along with contact info.{{else}}We'll send you an email containing matches along with contact info about 24 hours before your flight.{{/if}}</p><br /><p>We've sent an email with this information to {{email}}.</p>
  </div>
</template>
