<template name="submitted">
  <div class="submitted page jumbotron" style="text-align:center">
    <h2>Submitted! &#10003;</h2>
    <p><h3>We're currently looking for other students going {{direction}} {{airport}} {{antiDirection}} {{part}} campus around the same time.</h3>
    <br />{{#if soon}}In about an hour, we'll send you an email containing matches along with contact info.{{else}}We'll send you an email containing matches along with contact info about 12 hours before your flight.{{/if}}</p><p>We've sent an email with this information to {{email}}.</p>
  </div>
</template>
